*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
  }
  
  h3{
    font-size: 24px;
  }
  
  p{
    font-size: 12px;
  }
  
  div.top-header{
    padding: 5px;
  }
  
  
  header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    padding: 20px;
    font-weight: bold;
  }
  
  header{
    background-color: #EAC926;
    padding: 20px;
  }
  
  header div.logo,
  header .form{
    width: 50%;
  }
  
  header div.logo{
    padding: 10px;
  }
  header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
  }
  header nav{
    font-size: 20px;
    /* margin-left: 20px; */
  }
  
  header ul li{
    list-style-type: none;
  }
  
  header ul li a{
    text-decoration: none;
    color: #000;
  }
  
  header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
  }
  
  header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
  }
  
  div.burger-menu{
    text-align: center;
  }
  
  div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
  
.main{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
}

.formulario-registro{
    width: 70%;
    margin: 8px 0;
}

.campo{
    display: block;
    margin-bottom: 16px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
}

.campo input{
    width: 100%;
    height: 100%;
    padding: 8px 0;
}

.nacimiento{
    margin-bottom: 16px;
}

.nacimiento label h2{
    margin-bottom: 8px;
}

.nacimiento input{
    background-color: #ffffff;
    border-radius: 4px;
}

.perfil-usuario{
    margin-bottom: 16px;
}
.radios {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 50%;
  
}
.perfil-usuario label h2{
    margin-bottom: 8px;
}

.intereses{
    margin-bottom: 16px;
}

.checkboxes{
    display: flex;
    flex-direction: column;
}

.checkboxes div input{
    display: inline;
    margin: 8px;
}

.foto-usuario{
    margin-bottom: 16px;
}

.foto-usuario input{
    margin-top: 8px; 
}

.botones{
    display: flex;
    justify-content: space-between;
}

.boton-registrarse, .boton-borrar-todo{
    width: 45%;
}

.boton-registrarse button, .boton-borrar-todo button{
    width: 100%;
    padding: 8px;
    background-color: #03264C;
    border-radius: 4px;
    color: #ffffff;
}

.boton-registrarse:hover button, .boton-borrar-todo:hover button{
    background-color: #0022AA;
    cursor: pointer;
}

input{
    display: block;
}



footer{
  text-align: center;
  padding: 20px;
  background-color: #FFF;
  margin: 0px;

}
.fa-credit-card,
.fa-gift,
.fa-user-shield
{
  color: #0044AA;
  font-size: 16px;
}
.pie div{
  color: #666;
  padding: 20px;
  margin-top: 20px;
  list-style-type: none;
  line-height: 30px;
  width: 80%;
  margin: auto;
  max-width: 500px;
  
}
.siteLogbar{
  display: none;
  padding: 5px;
}
.register{
  padding: 20px;
  margin: 10px;
  display: flex;
}

.register div, 
.register input{
  margin-bottom: 15px;
}

   @media (min-width: 361px){
    
  
    div.burger-menu{
      display: none;
    }
    .siteLogbar{
      display: flex; 
      justify-content: space-between;
    }
  }
  
  @media (min-width: 769px){
        .top-header{
       display: flex;
       justify-content: space-between;
       
    }
   .copy-header{
       max-width: 350px;
    }
    .logo{
      max-width: 300px;
    }
    header div.top-header p{
      text-align: right;
      align-items: center;
      margin: auto;
    
    }
    .siteLogbar ul{
      display: flex;
    }
    .siteLogbar li{
      margin: 0 5px;
    }
    }
  